<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template is working</title>
</head>
<body>
this is to check templates working
<h1> Welcome to text analyzer, Enter your text below</h1>
<form action="/analyze" method="get">
    <textarea name="text" style="width:480px; height:80px">
    </textarea> <br>

    <input type="checkbox" name="removepunc">Remove puncutual!! <br>
    <input type="checkbox" name="capletter">Full Capatalize !! <br>
    <input type="checkbox" name="newlineremover"> New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover<br>
    <button type="submit">Submit</button>
</form>

</body>
</html>



<!--<div class="form-check form-switch">-->
<!--             <input class="form-check-input" type="checkbox"  name="extraspaceremover" role="switch" id="flexSwitchCheckDefault4">-->
<!--             <label class="form-check-label" for="flexSwitchCheckDefault">Extra Space Remover!!</label>-->
<!--        </div>-->